.pageNav{
	height: auto;
	width:100%;
	margin-left: 0;
	background:#FF0000;
	position: fixed; 
	top: 0;
	margin-bottom: 5px;
	font-size: 19px;
	transform: skewX( 30deg);
	display: block; 
}
a{
	height: 40x;
	line-height: 40px;
	background-color:#f00;
	color: #fff;
	padding-left: 10px;;
	text-align: center;
	text-decoration: none;
	margin-left: auto;
	margin-right: uto;
	border-radius: 10px 0;
	}			
a:hover{
	background-color: #00aaff;
	}
li{
	list-style-type: none;
	float: left;
	display: block;
	position: inherit;
	transform: skewX(-30deg); 
	}
.pageNav a{
	transition: all 0.5s;
}
*{ 
	margin:0; padding:0;
}
ol,ul,li{ 
	list-style:none;
}
a{
	text-decoration: underline;
}
 
ins,a{ 
	text-decoration:none;
}
