.pageNav{
	height: auto;
	width:100%;
	margin-left: 0;
	background:#FF0000;
	position: fixed; 
	top: 0;
	margin-bottom: 5px;
	font-size: 15px;
	transform: skewX( 30deg);
	display: block; 
}
a{
	height: 40px;
	line-height: 40px;
	background-color:#f00;
	color: #fff;
	padding-left: 40px;
	padding-right: 40px;
	text-align: center;
	text-decoration: none;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px 0;
	}			
a:hover{
	background-color: #00aaff;
	}
li{
	list-style-type: none;
	float: left;
	display: block;
	position: inherit;
	margin-right: 20px;
	transform: skewX(-30deg); 
	}
.pageNav a{
	transition: all 0.5s;
}
